/* reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust:none;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

html,body {
    height: 100%;
}
.m-section {
    position: relative;
    width:100%;
    height: 10000px;
}
.m-section .t-top {
    position: absolute;
    top: 0;
    left: 50%;
    height: 0;
}
.m-section .t-center {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0;
}
.m-section .t-bottom {
    position: absolute;
    top: 100%;
    left: 50%;
    height: 0;
}
.m-section .t-fifteen{
    position: absolute;
    top: 15%;
    left: 50%;
    height: 0;
}
.m-section .t-thirty-five{
    position: absolute;
    top: 35%;
    left: 50%;
    height: 0;
}
.m-section .t-eighty-five{
    position: absolute;
    top: 85%;
    left: 50%;
    height: 0;
}
.m-section .section-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
}
.m-section .ns-bg{
    position:fixed;
    top: 50%;
    left: 50%;
    margin-left: -2081px;
    margin-top:-1121px;
    width: 100%;
    height: 100%;   
}
.section-box-first{
    z-index:2;
}
.section-box-second{
    z-index:1;
}
.section-box-first .ns-bg{
    background: url(../images/bg_1.png) no-repeat center;
    width:4171px;
    height:2250px;
    -webkit-transform:scale(.5);

}
.section-box-first .cloth-1{
    background: url(../images/cloth_1.png) no-repeat center;
    position: fixed;
    left:50%;
    top:50%;
    z-index:10;
    width:2113px;
    height:1922px;
    margin-left: -1215px;
    margin-top:-875px;
    -webkit-transform:scale(.5);
}
.section-box-first .cloth-2{
    background: url(../images/cloth_2.png) no-repeat center;
    position: fixed;
    left:50%;
    top:50%;
    z-index:10;
    width:2150px;
    height:1900px;
    margin-left: -615px;
    margin-top:-545px;
    -webkit-transform:scale(.45);
}

.section-box-first  .computer{
    background: url(../images/computer.png) no-repeat center;
    position: fixed;
    left:50%;
    top:50%;
    z-index:10;
    width:2369px;
    height:1843px;
    margin-left: -1660px;
    margin-top:-770px;
    -webkit-transform:scale(.4);
}

.section-box-second .ns-bg{
    background: url(../images/bg_1.png) no-repeat center;
}

.ScrollSceneIndicators{
    z-index:100 !important;
}